

/*Connection fonts */
/* For work */
*{
    padding:0;
    margin:0;
}
li{
    list-style: none;
    display: flex;
}
a{
    text-decoration: none;
}

/* Header */
.body{
    font-family: 'Open Sans', sans-serif;
}
.header {
        background: #ffffff;
        padding: 22px 0;
    }
.header-container{
width: 90%;
margin: 0 auto;
display:flex;
justify-content: space-between;
font-family: 'Raleway', sans-serif;
}
.header-container a{
    color: black;
    font-size: 16px;
    margin-right: 60px;
    padding: 27px 6px;
    
}
.header-container a:hover{
    background:#FFC300;
}
#menu-checkbox{
    display: none;
}
ul{
    display: flex;
}
nav{
    margin-top: 20px;
}

.top-slide{
    background: url(/img/first_bg.jpg) no-repeat;
    padding-top: 120px;
    padding-bottom: 300pt;
    font-family: 'Raleway', sans-serif;
}
.top-slide h2{
    background:#FFC300;
    display: inline;
    font-size: 70px;
    padding: 0px 13px;

}
.top-slide:nth-child(2){
    margin-bottom: 10px;
}
.top-slide p{
    background:#212F3D;
    display: inline;
    font-size: 24px;
    color: #ffffff;
    padding: 0px 4px;

}
.top-container{
    width: 85%;
    margin: 0;

}
@media screen and (max-width:420px){
    .header-container{
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    .main-menu{
        display: none;

    }
    .main-menu li{
        width: 100%;
        display: block;
        font-size: 12px;
    }
    .main-menu a{
        display: block;
        padding: 8px;
    }
    .toggle-button{
        text-align: center;
        display: block;
        cursor: pointer;
        color: black;
        margin-top: 20px;
    }
    .toggle-button:after{
        content: attr(data-open);
        display: block;
}
#menu-checkbox:checked +nav[role ="navigation"] .main-menu{
    display: block;
}
#menu-checkbox:checked +nav[role ="navigation"] .toggle-button::after{
    content: attr(data-close);
}
.header-container a{
    margin-right: -65px;
}
.main-menu{
    position: relative;
    top: 30px;
    right: 115px;
}
}


/* Content */
/* Footer */